.footer {
	--footerBg: #{$body-color};

	background: var(--footerBg);
	color: $white;

	padding: rem(25px) 0 rem(34px);

	//strips
	position: relative;
	z-index: 1;
	&:before,
	&:after{
		content: '';
		position: absolute;
		z-index: -1;
	}
	&:before{
		@include media-breakpoint-up(sm){
			top: rem(-60px);
			height: rem(190);
			width: rem(60px);
		}
		@include media-breakpoint-up(xl){
			top: rem(-120px);
			height: rem(380px);
			max-height: calc(100% + 120px);
			width: rem(117px);
		}
		right: 0;
		background-color: $red;

		clip-path: polygon(0 0,100% 30%,100% 100%,0 69%);
	}
	&:after{
		content: none;
		@include media-breakpoint-up(xl){
			content: '';
		}
		width: 198px;
		height: 280px;
		left: 0;
		bottom: 0;
		background: linear-gradient(207.84deg, #DF0713 12.16%, #A51814 86.01%);
		opacity: .5;
		z-index: 2;

		clip-path: polygon(0% 0,100% 72%,100% 100%,62% 100%,0% 56%);
	}

	.container{
		overflow: hidden;
	}
	&__scroll-top{
		display: flex;
		justify-content: flex-end;

		margin-bottom: rem(15px);
	}
	&__scroll-btn{
		cursor: pointer;
		//background-color: green;

		display: flex;
		align-items: center;
		justify-content: center;
		padding: rem(10px) rem(11px);

		margin-right: rem(-11px);
		@include media-breakpoint-up(xl){
			margin-right: 0;
		}

		position: relative;
		.icon{
			font-size: rem(28px);
			color: transparent;
			stroke: $white;
		}

		@include mt();
		&:hover{
			transform: scale(1.1);
		}
	}
	&__row{
		margin-bottom: rem(20px);
		@include media-breakpoint-up(sm){
			margin-bottom: rem(40px);
		}
		@include media-breakpoint-up(lg){
			margin-bottom: rem(52px);
		}
	}
	&__logo-col{

	}
	&__logo{
		display: block;
		width: rem(198px);
		max-width: 100%;
		height: auto;
		img{
			width: 100%;
			height: auto;
		}
	}
	&__input-col{
		@include media-breakpoint-down(sm){
			order: 1;
			margin-top: rem(80);
		}

		.form-wrap{
			@include media-breakpoint-up(xl){
				padding-right: rem(10px);
			}

			&__input-cont{
				position: relative;
			}
			&__input-title{
				position: absolute;
				bottom: calc(100% + 16px);

				font-weight: 500;
				font-size: $small;
				line-height: 1;
				color: $white;

				left: 0px;
				@include media-breakpoint-up(xl){
					left: 3px;
				}
			}
			&__inupt-wrap{

			}
			&__inupt{
				padding-right: rem(70);
			}
			&__send-btn{
				@extend .btn;
				@extend .btn-danger;

				position: absolute;
				top: 0;
				right: 0;
				width: rem(56px);
				height: 100%;

				padding: 0;
				display: flex;
				align-items: center;
				justify-content: center;

				.icon{
					font-size: rem(25);
					color: transparent;
					stroke: $black;
					stroke-width: 4.5px;
				}
			}
			&__{}
			&__{}
			&__{}
			&__{}
		}
	}


	//
	&__soc-col{
		display: flex;
		align-items: center;
		justify-content: flex-end;
	}
	&__soc-item{
		width: rem(28px);
		height: rem(28px);
		margin-right: rem(15);
		@include media-breakpoint-up(md){
			width: rem(32px);
			height: rem(32px);
			margin-right: rem(24);
		}

		&:last-child{
			margin-right: 0;
			@include media-breakpoint-up(xl){
				margin-right: rem(7px);
			}
		}

		display: flex;
		align-items: center;
		justify-content: center;

		.icon{
			font-size: rem(28);
			@include media-breakpoint-up(md){
				font-size: rem(32);
			}
		}

		color: $white;
		&:hover{
			color: $red;
		}
	}
	//slider-cont
	&__slider-cont{
		padding: 20px 0;
		@include media-breakpoint-up(md){
			display: flex;
			align-items: stretch;
		}

		position: relative;
		z-index: 1;
		&:before{
			background-color: var(--footerBg);
			@include media-breakpoint-up(md){
				content: '';
			}

			position: absolute;
			z-index: 3;
			top: 0;
			right: 100%;
			width: calc(-1 * (100% - 100vw) / 2);
			height: 100%;
		}

		margin-bottom: rem(25px);
		@include media-breakpoint-up(lg){
			margin-bottom: rem(59px);
		}
	}
	&__title{
		width: 176px;
		padding-top: rem(10);

		margin-bottom: rem(30);
		@include media-breakpoint-up(md){
			margin-bottom: 0;
		}

		flex-shrink: 0;
		position: relative;
		z-index: 2;

		background-color: var(--footerBg);


		font-weight: bold;
		line-height: 1;

		text-transform: uppercase;
	}
	&__slider{
		@include media-breakpoint-up(md){
			padding-left: rem(33);
			width: calc(100% - 176px);
		}
		position: relative;
		z-index: 1;
		.swiper-container{
			overflow: visible!important;
		}
		.swiper-wrapper{

		}
		.swiper-slide{
			width: auto;
			height: auto;

			a{
				display: block;

				font-weight: bold;
				line-height: 1;
				text-transform: uppercase;
				color: $white;
				padding: 10px 0;

				position: relative;
				z-index: 2;
				&:before{
					@include mt();
					opacity: 0;
					content: '';
					position: absolute;
					z-index: -1;
					background: $red;

					top: 0;
					left: -15px;
					width: calc(100% + 30px);
					height: 100%;
				}


				@include mt();
				&:hover{
					z-index: 1;
					transform: scale(1.4);
					&:before{
						opacity: 1;
					}
				}
			}
		}
	}

	//bot
	&__bot{
		display: flex;
		align-items: center;
		justify-content: space-between;

		font-weight: 500;
		font-size: rem(14px);
		line-height: 1;
	}
	&__all-rights{
		color: $white;
	}
	&__policy{
		width: auto;
		text-align: right;

		color: rgba($white, .5);
		@include mt();
		&:hover{
			color: rgba($white, 1);
		}

		@include media-breakpoint-up(xl){
			padding-right: 8px;
		}
	}
	&__{}
	&__{}
	&__{}
	&__{}
}
