extends layout/main.pug

include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/sRepresent/_sRepresent.pug
include ../blocks/sDigits/_sDigits.pug
include ../blocks/sWho/_sWho.pug
include ../blocks/sProgram/_sProgram.pug
include ../blocks/sFeedBack/_sFeedBack.pug
include ../blocks/sSpeakers/_sSpeakers.pug
include ../blocks/sExponation/_sExponation.pug
include ../blocks/sAfterParty/_sAfterParty.pug
include ../blocks/sTTickets/_sTTickets.pug
include ../blocks/sFlashBack/_sFlashBack.pug
include ../blocks/sPlace/_sPlace.pug

include ../blocks/sOrganiztors/_sOrganiztors.pug
include ../blocks/sPartners/_sPartners.pug


block variables
	- let  mainPage= null
block title
	- let  title= 'title'
	title= title
block pagecontent
	+mob-mnu()
	+header()
	+sRepresent()
	+sDigits()
	+sWho()
	+sProgram()
	+sFeedBack()
	+sSpeakers()
	+sExponation()
	+sAfterParty()
	+sTTickets()
	+sFlashBack()
	+sPlace()
	+sContact()
	+sOrganiztors()
	+sPartners()
	+footer()