// start .sFeedBack
.sFeedBack {
	position: relative;
	z-index: 2;

	&__container{
		@include media-breakpoint-up(xl){
			padding-right: rem(19px);
		}
	}

	--sPB: #{rem(10)};
	@include media-breakpoint-up(md){
		--sPT: #{rem(96)};
		--sTPB: #{rem(42)};
		--sPB: #{rem(56)};
	}

	.section-title{
		@include media-breakpoint-up(xl){
			margin-left: -7px;
		}
		h2{
			font-weight: 900;
			line-height: 1;
			text-transform: uppercase;

			font-size: calc(33px + 5vw);
			@include media-breakpoint-up(sm){
				font-size: rem(93);
			}
			@include media-breakpoint-up(md){
				font-size: rem(120);
			}
		}
	}
	&__slider{
		.swiper-container{
			padding-top: rem(32px);
			padding-bottom: rem(80);
		}
		.swiper-wrapper{

		}
		.swiper-slide{
			background-color: $light;
			height: auto;
			min-height: rem(384);
		}
	}
	//controll
	&__controll{
		position: absolute;
		z-index: 10;
		right: 0;
		bottom: rem(80);

		color: $white;
		background-color: $black;

		padding: rem(13px) rem(15);

		display: flex;
		align-items: center;

		.feedback-prev,
		.feedback-next{
			padding: 10px 10px;
			.icon{
				font-size: rem(25);
				color: transparent;
				stroke: $white;
			}

			@include mt();
			&:hover{
				transform: scale(1.2);
			}
		}


		.feedback-fract{
			margin: 0 rem(4);

			font-weight: 500;
			font-size: rem(20px);
			line-height: 1.7;
		}
	}

	&__inner{
		@include media-breakpoint-up(sm){
			display: flex;
			align-items: stretch;
			justify-content: space-between;
		}
		min-height: 100%;
		padding-top: rem(40px);


		padding-bottom: rem(100px);
		padding-right: rem(30px);
		@include media-breakpoint-up(lg){
			padding-bottom: rem(49px);
			padding-right: rem(63px);
		}
	}
	&__img-cont{
		overflow: visible;

		width: 100%;
		max-width: 300px;
		flex-shrink: 0;
		margin-bottom: rem(35);
		@include media-breakpoint-up(sm){
			width: rem(240px);
			max-width: 100%;
			height: 0;
			margin-bottom: 0;
		}

		margin-right: 15px;
		@include media-breakpoint-up(md){
			width: rem(300);
			margin-right: rem(56);
		}

		@include media-breakpoint-up(lg){
			width: rem(344px);
		}

	}
	&__img{
		@include media-breakpoint-up(lg){
			padding-top: rem(9);
		}

		width: 100%;
		img{
			width: 100%;
			height: auto;
		}

		position: relative;
		&:before{
			content: '';
			position: absolute;
			z-index: 2;
			left: rem(45);

			width: rem(9px);
			height: calc(100% + #{rem(80)} - #{rem(48)});
			top: rem(-80px);

			background: $red;
		}
	}
	&__txt{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		min-height: 100%;

		padding-left: 15px;
		@include media-breakpoint-up(sm){
			padding-left: 0;
		}

		p{
			font-size: rem(18px);
			@include media-breakpoint-up(lg){
				font-size: rem(20px);
			}
			line-height: 1.7;
		}
	}
	&__name{
		font-weight: bold;
		line-height: (21/16);
		text-transform: uppercase;
	}
	//
	&__white-line{
		position: absolute;
		left: calc(100% - #{rem(72)});
		bottom: rem(32);

		width: rem(100px);
		@include media-breakpoint-up(md){
			width: rem(120px);
		}
		@include media-breakpoint-up(lg){
			width: rem(174);
		}
		background: $body-bg;

		&:before{
			content: '';
			display: block;
			height: 1px;
			background-color: $body-color;
		}
		padding: rem(8);
		@include media-breakpoint-up(xl){
			padding: rem(8.5) rem(8) rem(7.5) rem(8);
		}
	}
	&__{}
} // end.sFeedBack