mixin sExponation(data)
	// start sExponation
	+b.SECTION.sExponation.section#sExponation&attributes(attributes)
		.container
			+b.section-title
				h2 Выставка
		+e.black
			+e.black-cont.container
				+pic('exponation-img.png')(class='sExponation__img')
				+e.txt-bl
					p Оба дня на конференции будет работать выставка ведущих IT-сервисов и услуг для бизнеса, на которой участники смогут получить консультации, задать интересующие вопросы и узнать о новейших продуктах компаний полезных для развития бизнеса.
					p По традиции экспоненты дарят посетителям стендов приятные и вкусные сувениры, а также разыграют ценные призы: гаджеты, книги, сертификаты и многое другое.
					+e.btn(href='https://docs.google.com/forms/d/e/1FAIpQLSccndJi3Kdr_S_agcJsqVdko4-cEOH2hZAUAlR2zXcpUjtooA/viewform' target="_blank") ХОЧУ СТАТЬ ПАРТНЕРОМ
	// end sExponation