mixin sAfterParty(data)
	// start sAfterParty
	+b.sAfterParty.section#sAfterParty&attributes(attributes)
		.container
			.row
				+e.txt-col.col-8.col-sm-5.col-md-4.col-xl-3
					p В первый день конференции пройдет традиционный кутеж. Именно на афтепати случаются самые приятные знакомства, начинается продуктивное и продолжительное сотрудничество
				+e.img-col.col-sm-7.col-md-8.col-xl-9
					+pic('after-party.png')(class="sAfterParty__img")
	// end sAfterParty