mixin mob-mnu()
	//-+b.toggle-menu-mobile--js.d-lg-none
		span
	+b.menu-mobile--js.d-lg-none
		+b.toggle-menu-mobile--js
			span
		+e.inner
			+e.logo(href='/')
				img(src='img/@2x/small-logo.png' alt="СПИК 2021" title="СПИК 2021")
			+mnu()
			.text-right
	//  мобильное меню
mixin top-nav() 
	// start top-nav
	+b.top-nav.block-with-lazy
		.container
			+mnu()
					
	// end top-nav